Package: clover2-dbgsym
Source: clover2
Version: 3.5.8-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daisuke Minato <ab25cq@icloud.com>
Installed-Size: 102
Depends: clover2 (= 3.5.8-1)
Section: debug
Priority: extra
Homepage: https://github.com/ab25cq/clover2/wiki
Description: Debug symbols for clover2
Build-Ids: 0468c4f3761391c35889a0a32520164b2605c9cc 70806796373c1f1103b7a38b0d768d3b5a8ced45 aebacabd9f626836c23bf7c2046875ead0ddc7a5
