Package: clover2-dbgsym
Source: clover2
Version: 3.7.1-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daisuke Minato <ab25cq@icloud.com>
Installed-Size: 106
Depends: clover2 (= 3.7.1-1)
Section: debug
Priority: extra
Homepage: https://github.com/ab25cq/clover2/wiki
Description: Debug symbols for clover2
Build-Ids: 2686656d94e4d2dbdbfbe309ba134ebb301a1da0 428cd42082b6c9bf039a6eb23c4302b630b17e7f 5573cf2a7d963a4ab264a6a9d6c7b6b86a42c1d0
