Package: clover2-dbgsym
Source: clover2
Version: 3.7.6-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Daisuke Minato <ab25cq@icloud.com>
Installed-Size: 126
Depends: clover2 (= 3.7.6-1)
Section: debug
Priority: extra
Homepage: https://github.com/ab25cq/clover2/wiki
Description: Debug symbols for clover2
Build-Ids: 5379eac7196da507ef9a347d0bcc1d797dfa7969 5f941a0b8b55d9890079587344d7c75b2fdc3d6e ed4b01b721aa8cba1debe7d450bd556f2336de5c
